spring:
  application:
    name: @project.name@
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          max-attempts: 3
        prefetch: 1
        concurrency: 10
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis
    redis:
      time-to-live: 10000 # 10 secs
management:
  server:
    port: 7979
  endpoints:
    web:
      base-path: /
      exposure:
        include:
          - health
          - info
          - metrics
          - prometheus
services:
  github:
    base-url: "https://api.github.com/"
    paths:
      users: "users"
rabbitmq:
  exchange-name: ha.tasks
  received:
    routing-key: received
    queue-name: ha.tasks.received
  dead-letter:
    routing-key: dead-letter
    queue-name: ha.tasks.dead-letter
